*{
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
}

.navbar{
    background-color: #EFECE3;
    height: 70px;
    display: flex;
    gap: 20px;
}

.logo img{
    height: 70px;
    width: 130px;
}

.loc{
    background-color: white;
    margin: 5px;
    height: 55px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.4);
}

.pin{
    margin: 10px 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin>i{
    color: #4A70A9;
}

.city{
    text-align: center;
    padding-left: 20px;
}

.stpwatch{
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.stpwatch>i{
    color: #4A70A9;
}

.delivery{
    margin: 15px;
}

.search{
    display: flex;
    align-items: center;
}

input{
    height: 40px;
    width: 400px;
    font-size: 17px;
    padding-left: 5px;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.4);
    
}

input:focus {
  outline: none;
}


button{
    height: 40px;
    width: 100px;
    font-size: 17px;
    background-color: #4A70A9;
    color: white;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.4);
}

button:hover{
    background-color: #8FABD4;
}

.signin{
    display: flex;
    margin: 10px;
    padding: 5px;
    align-items: center;
}

.signin>a>i{
    font-size: 20px;
    margin-right: 5px;
    color: #4A70A9;
}

.signin:hover{
    border-radius: 10px;
    padding: 5px;
    background-color: #8FABD4;
    color: white;
}

.signin>a>i:hover{
    color: white;
}

.notification{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.notification:hover{
    border-radius: 50%;
    background-color: #8FABD4;
    color: white;
}

.cart{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.cart:hover{
    border-radius: 50%;
    padding: 10px;
    background-color: #8FABD4;
}

.notification>a>i{
    font-size: 20px;
    color: #4A70A9;
}

.notification>a>i:hover{
    color: white;
}

.cart>a>i{
    font-size: 20px;
    color: #4A70A9;
}

.cart>a>i:hover{
    color: white;
}

#pannel{
    background-color: #4A70A9;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.4);
}



.category{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 10px;
}

.category:hover{
    transform:scale(1.1);
}

.cimg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cimg p{
    margin-left: 10px;
    color: white;
}

#promotion{
    background-color: #8FABD4;
    height: 300px;
    margin: 10px;
    display: flex;
}

#promotion>img{
    height: 300px;
    width: 1007.200px;
}

#topdeal{
    display: flex;
    justify-content: space-evenly;
}

.block{
    background-color: #4A70A9;
    height: 300px;
    width: 450px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.row{
    padding-left: 10px;
    display: flex;
}

.column{
    padding-left: 10px;
    display: flex;
}

.row>a>img{
    height: 130px;
    width: 200px;
    margin: 5px;
}

.row>a>img:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 9px rgb(0,0,0,0.4);
}

.column>a>img{
    height: 130px;
    width: 200px;
    margin: 5px;
}

.column>a>img:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 9px rgb(0,0,0,0.4);
}

.products{
    display: flex;
    justify-content: space-evenly;
}

.pro-card{
    background-color: #4A70A9;
    height: 350px;
    width: 250px;
    margin: 10px;
    box-shadow: 3px 4px 6px rgb(0,0,0,0.4);
    border-radius: 20px;
    
}

.pro-card>img{
    margin: 24px 24px 0 24px;
    height: 200px;
    width: 200px;
    border-radius: 20px;

}

.pro-card>p{
    font-size: 15px;
    margin-left: 24px;
    color: white;
}

.pro-card>a>button{
    width: 200px;
    margin-left: 24px;
    background-color:#EFECE3;
    color: #4A70A9;
    border-radius: 40px;
    cursor: pointer;
}

.pro-card>a>button:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 9px rgb(0,0,0,0.4);
}

#footer{
    background-color: black;
    margin-top: 10px;
    height: 400px;
    padding-top: 40px;
    display: flex;
}

.foot1{
    margin: 10px;
    padding: 30px;
    color: white;
    height: 300px;
    width: 450px;
    border-right: 2px solid white;
}

.foot1>p,pre{
    padding-top: 20px;
    padding-left: 10px;
}

.foot1>input{
    margin: 5px 0 5px 5px;
    width: 280px;
    border-radius: 10px 0 0 10px;
}

.foot1>button{
    margin: 0;
    background-color: white;
    color: black;
    height: 43.2px;
    border-radius: 0 10px 10px 0;
}

.smlogo{
    display: flex;
    gap: 20px;
    font-size: 25px;
    margin: 10px;
}

.smlogo>a>i{
    color: white;
}

.foot2{
    color: white;
    height: 360px;
    padding-left: 40px;
    margin: 10px;
    font-size: 15px;
    display: flex;
    gap: 90px;
}

.link1 > p>a{
    text-decoration: none;
    color: white;
    line-height: 35px;
}

.link2 > p>a{
    text-decoration: none;
    color: white;
    line-height: 35px;
}

.link3 > p>a{
    text-decoration: none;
    color: white;
    line-height: 35px;
}

